* {
    margin: 0;
    /* para deixar a pagina sem margem */
    padding: 0;
    /* para deixar a pagina sem respito */
}

/* cabeçalho */
header {
    padding: 3vh;
    /* para dar respiro no header */
    background-color: rgb(218, 179, 150);
    /* cor de fundo */
}

#imagemHeader {
    text-align: center;
}

header div img {
    height: 30vh;
}

.linksHeader nav {
    display: flex;
    /* para deixar um ao lado do outro */
    justify-content: space-around;
    /* para dar espaço nos itens de forma igual */
}

.linksHeader ul {
    display: flex;
    /* para deixar um ao lado do outro */
    list-style: none;
    /* para deixar sem estilo de lista */
}

.linksHeader ul li {
    margin: 0 20px;
    /* para dar margem */
}

.menu {
    cursor: pointer;
}

.menu button {
    background-color: transparent;
    border-color: transparent;
}

.submenu {
    display: none;
    /* desaparecimento do conteúdo */
    position: absolute;
    /* deixar o título do topo */
    background-color: rgba(255, 255, 255, 0.97);
    /* cor de fundo */
}

.menu .submenu {
    /* organização do menu */
    margin-top: 8px;
    margin-left: -20px;
}

.submenu a {
    display: block;
    /* deixa os submenus um embaixo do outro */
    padding: 2vh;
    text-align: center;
}

.submenu a:hover {
    /* config. do menu */
    background-color: orange;
    transition: 0.5s;
}

.menu:hover .submenu {
    /* apenas apareça caso o mouse passe por cima */
    display: block;
}

#direcionamento li a {
    text-decoration: none;
    /* para tirar o estilo do texto */
    color: black;
    /* cor da fonte */
}

#icones li a {
    text-decoration: none;
    /* para tirar o estilo do texto */
    font-size: 1.5em;
    /* tamanho da fonte */
}

#icones li a:hover {
    font-size: 1.55em;
    /* tamanho da fonte */
    transition: 0.4s;
    /* tempo para mudar ao passar o mouse */
}

#titulo {
    background-image: url(imagens/esporte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -1px;
}

#titulo div {
    padding: 10vw;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
}

#titulo h2 {
    padding: 0px 20px;
}

#pt1 {
    padding: 3vw;
    display: flex;
    align-items: center;
    background-color: #ebebebff;

}

#pt1 div {
    margin: 0 30px;
}

#pt1Text {
    width: 40vw;
}

#pt1Img img {
    height: 30vw;
}

#pt1 h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 1em;
}

#pt1 p {
    font-size: 20px;
    text-align: justify;
}


#pt2 {
    padding: 10vw;
    display: flex;
    align-items: center;
    background-color: #ff9945ff;

}

#pt2 div {
    margin: 0 20px;
}

#pt2 p {
    font-size: 1.5rem;
    text-align: justify;
}

#pt2 img {
    width: 30vw;
}

#pt3 {
    padding: 10vw;
    display: flex;
    align-items: center;
    background-color: #ebebebff;
}

#pt3 div {
    margin: 0 20px;
}

#pt3 p {
    font-size: 1.6em;
    text-align: justify;
}

#pt3 img {
    width: 40vw;
}

/*id pt4 onde linkamos o tema alimentação com os demais serviços prestados por nossa Consultoria Nutricional*/
#pt4 {
    background-color: #ff9945ff;
    /* cor do fundo */
    color: white;
    /* cor do texto */
    padding: 2vw;
    /* respiro dp conteudo */
    text-align: center;
    /* alinhamento do texto */
}

#pt4 h2 {
    font-size: 1.6em;
    /* tamanho da fonte */
    margin-bottom: 40px;
    /* margem inferior */
}

#pt4 p {
    font-size: 1.4em;
    /* tamanho da fonte */
}


/* rodapé */
footer {
    padding: 3vh;
    /* respiro do conteudo */
    background-color: rgb(218, 179, 150);
    /* cor de fundo */

}

#infoFooter {
    flex-wrap: wrap;
    display: flex;
    /* display flexivel */
    padding: 2vw;
    /* respiro do conteudo */
    justify-content: center;
    align-items: center;
}

#infoFooter div {
    margin: 30px;
}

#infoFooter div img {
    width: 35vh;
    /* largura */

}

#divIcon ul {
    list-style: none;
    /* estilo de lista */
    display: flex;
    /* display flexivel */
    justify-content: center;
    /* icones centralizados com a imagem */
}

footer div a i {
    /* aqui ainda estou chamando a tag do icone */
    font-size: 2rem;
    /* tamanho da fonte */
    margin: 0 12px;
    /* margem */
}

#divIcon ul a i:hover {
    transition: 0.2s;
    /* tempo de transição */
    font-size: 2.1em;
    /* tamanho da fonte */
}


.divFooter h3 {
    text-align: center;
    /* alinhamento do texto */
}

.divFooter p {
    margin: 0 20px;
    /* margem do paragrafo */
    text-align: justify;
    /* alinhamento do texto */
    font-size: 14px;
    /* tamanho da fonte */
}



#divInfo {
    width: 18em;
    text-align: justify;
    /* alinhamento do texto */
}

#divInfo h3 {
    font-size: 1.4rem;
}

#divInfo p {
    font-size: 1.1rem;
}




footer p {
    margin-top: 1em;
    /* margem superior */
    text-align: center;
    /* alinhamento do texto */
}

#divContatos {
    display: block;
}

#divContatos h3 {
    align-items: start;
}

#divContatos p {
    margin-top: 40px;
    /* margem superior */
}

#divContatos p a {
    text-decoration: none;
    /* decoração do texto */
    color: black;
    /* cor da fonte */
}

.whats a i {
    color: #1abd5b;
    /* cor do icone do whatsapp */
}

.insta a i {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #E1306C, #FD1D1D);
    /* para adicionar cor de fundo com degrade para fazer a cor do app do instagran*/
    background-clip: text;
    /* para recortar o fundo no formato do texto */
    color: rgba(0, 0, 0, 0);
    /* para deixar o icone transparente */
}

.in a i {
    color: #0e76a8;
    /* cor do icone do linkedin */
}



/* iniciando responsividade */

@media screen and (max-width: 767px) {
    #titulo div {
        padding: 7vw;
    }

    #pt1 div h2 {
        font-size: 1.7rem;
    }

    #pt1 div p {
        font-size: 1.1rem;
    }

    #pt2 {
        padding: 7vw;
    }

    #pt2 div p {
        font-size: 1.1rem;
    }

    #pt2 div img {
        width: 45vw;
    }

    #pt3 {
        padding: 7vw;
    }

    #pt3 div img {
        width: 45vw;
    }

    #pt3 div p {
        font-size: 1.1rem;
    }

    footer {
        padding: 0;
    }

    footer p {
        font-size: 12px;
    }

    #infoFooter div {
        margin: 1 1vw;
    }

    #divInfo p {
        font-size: 0.8em;
    }

    #divContatos p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 480px) {
    header ul {
        align-items: center;
        font-size: 14px;
    }

    .linksHeader nav {
        display: block;
    }

    .linksHeader nav ul {
        justify-content: center;
    }

    .linksHeader nav ul i {
        margin-top: 10px;
    }

    #titulo div {
        padding: 4vw;
        height: 30vw;
    }

    #titulo h2 {
        font-size: 1.8rem;
    }

    #pt1 {
        flex-wrap: wrap;
        justify-content: center;

    }

    #pt1Text {
        width: 85vw;
    }

    #pt1Text h2 {
        font-size: 1rem;
    }

    #pt1Img img {
        width: 80vw;
        height: auto;
        margin-top: 10px;
    }

    #pt2 {
        flex-wrap: wrap;
        justify-content: center;

    }

    #pt2 div img {
        width: 80vw;
        height: auto;
        margin-top: 20px;
    }


    #pt3 {
        flex-wrap: wrap;
        justify-content: center;

    }

    #pt3 div img {
        width: 80vw;
        height: auto;
    }

    #pt3 div p {
        margin-top: 20px;
    }


    #pt4 {
        padding: 8vw;
    }

    #pt4 h2 {
        font-size: 1.3em;
        text-align: center;
    }

    #pt4 p {
        font-size: 0.8em;
        margin-top: 20px;
        text-align: justify;
    }

    #infoFooter div {
        text-align: center;
    }

    #infoFooter div img {
        width: 50vw;
        
    }

    footer div a i {
        /* aqui ainda estou chamando a tag do icone */
        font-size: 1.5rem;
        /* tamanho da fonte */

    }

    #divIcon ul a i:hover {
        transition: 0.2s;
        /* tempo de transição */
        font-size: 1.6em;
        /* tamanho da fonte */
    }


    #divInfo {
        text-align: justify;
    }

    #divInfo h3 {
        font-size: 0.8rem;
    }

    #divInfo p {
        margin: auto 10px;
        font-size: 0.7rem;
    }

    #divContatos {
        margin-left: 12px;
        font-size: 12px;
    }


    #divContatos p {
        margin: 30px auto;
        /* margem superior */
    }


}


@media screen and (max-width: 400px) {
    #infoFooter div img {
        width: 50vw;
    }

    #titulo div h2{
        font-size: 2rem;
        text-align: center;
        margin: 0 10px;
    }
}

/* CSS HEX 
--sandy-brown: #ff9945ff;
--peach: #ffbe92ff;
--mindaro: #fffba5ff;
--naples-yellow: #fce15aff;
--green-yellow: #b5fa70ff;
--night: #141414ff;
--antiflash-white: #ebebebff;*/