*{
    margin: 0; /* para deixar a pagina sem margem */
    padding: 0; /* para deixar a pagina sem respito */
}
/* cabeçalho */
header{
    padding: 3vh; /* para dar respiro no header */
    background-color: rgb(218, 179, 150); /* cor de fundo */
    text-align: center; /* alinhamento do texto */
    align-items: center; /* alinhamento dos itens */
}

header div img{
    width: 30vh; /* largura da div do header */
}

.linksHeader nav{
    display: flex; /* para deixar um ao lado do outro */
    justify-content: space-around; /* para dar espaço nos itens de forma igual */
}

.linksHeader ul{
    display: flex; /* para deixar um ao lado do outro */
    list-style: none; /* para deixar sem estilo de lista */

}

.linksHeader ul li{
      margin: 0 20px; /* para dar margem */
}

.submenu {
    display: none; /* desaparecimento do conteúdo */
    position: absolute; /* deixar o título do topo */
    background-color: rgba(255, 255, 255, 0.97); /* cor de fundo */
}

.menu .submenu { /* organização do menu */
margin-top: 8px; 
margin-left: -20px;
}

.submenu a { 
    display: block; /* deixa os submenus um embaixo do outro */
    padding: 2vh;
}

.submenu a:hover { /* config. do menu */
    background-color: orange; 
    transition: 0.5s;
}

.menu:hover .submenu { /* apenas apareça caso o mouse passe por cima */
display: block;
}

#direcionamento li a{  
    text-decoration: none; /* para tirar o estilo do texto */
    color: black; /* cor da fonte */
}

#icones li a{
    text-decoration: none; /* para tirar o estilo do texto */
    font-size: 1.5em; /* tamanho da fonte */
}

#icones li a:hover{
    font-size: 1.55em; /* tamanho da fonte */
    transition: 0.4s; /* tempo para mudar ao passar o mouse */
}

#titulo {
background-image: url(imagens/esporte.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

#titulo div {
padding: 3em;
color: white;
justify-content: center;
display: flex;
align-items: center;
font-size: 30px;
}

#titulo h2 {
padding: 0px 15px;
}

#pt1 {
padding: 10vw;
display: flex;
align-items: center;
}

#pt1 div {
    padding-right: 1em;
}

#pt1 h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 1em;
}

#pt1 p {
    font-size: 20px;
    text-align: justify;
}

#pt1 img {
width: 30em;
padding-left: 1em;
}

#pt2 {
padding: 10vw;
display: flex;
align-items: center;
background-color: ;
}

#pt2 div {
    padding-right: 1em;
}

#pt1 h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 1em;
}

#pt2 p {
    font-size: 20px;
    text-align: justify;
}

#pt1 img {
width: 30em;
padding-left: 1em;
}

/* rodapé */
footer{
    padding: 3vh; /* respiro do conteudo */
    background-color: rgb(218, 179, 150); /* cor de fundo */
    
}

#infoFooter{
    display: flex; /* display flexivel */
    justify-content: space-evenly; /* justificando o conteudo */
    padding: 3rem; /* respiro do conteudo */
}

#divIcon ul{
    list-style: none; /* estilo de lista */
    display: flex; /* display flexivel */
}

footer div a i{
    font-size: 2rem; /* tamanho da fonte */
    margin: 0 12px; /* margem */
}

#divIcon ul a i:hover{
    transition: 0.2s; /* tempo de transição */
    font-size: 2.1em; /* tamanho da fonte */
}

.divFooter h3{
    text-align: center; /* alinhamento do texto */
}
.divFooter p{
    margin: 0 30px; /* margem do paragrafo */
    text-align: justify; /* alinhamento do texto */
    font-size: 14px; /* tamanho da fonte */
}

#divInfo{
    max-width: 20vw; /* largura maxima */
    text-align: justify; /* alinhamento do texto */
}
#infoFooter div img{
    width: 30vh; /* largura */
    
}
footer p{
    margin-top: 1em; /* margem superior */
    text-align: center; /* alinhamento do texto */
}

#divContatos p{
   margin-top: 40px; /* margem superior */
   
}
#divContatos p a{
    text-decoration: none; /* decoração do texto */
    color: black; /* cor da fonte */
}

.whats a i{
    color: #1abd5b; /* cor do icone do whatsapp */
}

.insta a i{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #E1306C, #FD1D1D); /* para adicionar cor de fundo com degrade para fazer a cor do app do instagran*/
    background-clip: text; /* para recortar o fundo no formato do texto */
    color: rgba(0, 0, 0, 0); /* para deixar o icone transparente */
}

.in a i{
    color: #0e76a8; /* cor do icone do linkedin */
}


/* CSS HEX 
--sandy-brown: #ff9945ff;
--peach: #ffbe92ff;
--mindaro: #fffba5ff;
--naples-yellow: #fce15aff;
--green-yellow: #b5fa70ff;
--night: #141414ff;
--antiflash-white: #ebebebff;*/