* {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    padding: 3vh;
    /* para dar respiro no header */
    background-color: rgb(218, 179, 150);
    /* cor de fundo */
}

#imagemHeader {
    text-align: center;
}

header div img {
    height: 30vh;
}

.linksHeader nav {
    display: flex;
    /* para deixar um ao lado do outro */
    justify-content: space-around;
    /* para dar espaço nos itens de forma igual */
}

.linksHeader ul {
    display: flex;
    /* para deixar um ao lado do outro */
    list-style: none;
    /* para deixar sem estilo de lista */
}

.linksHeader ul li {
    margin: 0 20px;
    /* para dar margem */
}

.submenu {
    display: none;
    /* desaparecimento do conteúdo */
    position: absolute;
    /* deixar o título do topo */
    background-color: rgba(255, 255, 255, 0.97);
    /* cor de fundo */
}

.menu .submenu {
    /* organização do menu */
    margin-top: 8px;
    margin-left: -20px;
}

.submenu a {
    display: block;
    /* deixa os submenus um embaixo do outro */
    padding: 2vh;
    text-align: center;
}

#direcionamento .submenu a:hover {
    /* config. do menu */
    background-color: orange;
    transition: 0.5s;
    color: white;
}

.menu:hover .submenu {
    /* apenas apareça caso o mouse passe por cima */
    display: block;
}

#direcionamento li a {
    text-decoration: none;
    /* para tirar o estilo do texto */
    color: black;
    /* cor da fonte */
}

#icones li a {
    text-decoration: none;
    /* para tirar o estilo do texto */
    font-size: 1.5em;
    /* tamanho da fonte */
}

#icones li a:hover {
    font-size: 1.55em;
    /* tamanho da fonte */
    transition: 0.4s;
    /* tempo para mudar ao passar o mouse */
}

#secao1 {
    background: url(https://dglab.com.br/wp-content/uploads/2021/09/Nutric%CC%A7a%CC%83o-funcional-840x400.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.imagem h1 {
    font-size: 5vh;
    text-align: center;
}

#icones li a:hover {
    font-size: 1.55em;
    /* tamanho da fonte */
    transition: 0.4s;
    /* tempo para mudar ao passar o mouse */
}

#titulo {
    background-position: center;
    color: white;
    /* cor de texto */
    text-align: center;
    /* centralização do texto */
    padding: 5em;
    /* respiro da seção */
    height: auto;
    /* altura responsiva */
}

#pt1 {
    padding: 10vw;
    display: flex;
    align-items: center;
    background-color: #ebebebff;
}

#pt1 div {
    padding-left: 1em;
}

#pt1 h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 0.5em;
}

#pt1 p {
    font-size: 20px;
    text-align: justify;
}

#pt1 img {
    width: 35em;
    padding-right: 1em;
}

#pt3 h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

#part-five {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#blocos {
    background-color: grey;
    display: flex;
    font-size: 1.2rem;
    padding: 3rem;
}

#blocos div img{
    width: 20vw;
}

/* rodapé */
footer {
    padding: 3vh;
    /* respiro do conteudo */
    background-color: rgb(218, 179, 150);
    /* cor de fundo */

}

#infoFooter {
    display: flex;
    /* display flexivel */
    padding: 2rem;
    /* respiro do conteudo */
    justify-content: center;
    align-items: center;
}

#infoFooter div {
    margin: 3vw;
}

#divIcon ul {
    list-style: none;
    /* estilo de lista */
    display: flex;
    /* display flexivel */
    justify-content: center;
    /* icones centralizados com a imagem */
}

footer div a i {
    /* aqui ainda estou chamando a tag do icone */
    font-size: 2rem;
    /* tamanho da fonte */
    margin: 0 12px;
    /* margem */
}

#divIcon ul a i:hover {
    transition: 0.2s;
    /* tempo de transição */
    font-size: 2.1em;
    /* tamanho da fonte */
}


.divFooter h3 {
    text-align: center;
    /* alinhamento do texto */
}

.divFooter p {
    margin: 0 20px;
    /* margem do paragrafo */
    text-align: justify;
    /* alinhamento do texto */
    font-size: 14px;
    /* tamanho da fonte */
}

#divInfo h3 {
    font-size: 1.4rem;
}

#divInfo p {
    font-size: 1.1rem;
}

#divInfo {
    width: 20rem;
    text-align: justify;
    /* alinhamento do texto */
}

#infoFooter div img {
    width: 30vh;
    /* largura */

}

footer p {
    margin-top: 1em;
    /* margem superior */
    text-align: center;
    /* alinhamento do texto */
}

#divContatos {
    display: block;
}

#divContatos h3 {
    align-items: start;
}

#divContatos p {
    margin-top: 40px;
    /* margem superior */
}

#divContatos p a {
    text-decoration: none;
    /* decoração do texto */
    color: black;
    /* cor da fonte */
}

.whats a i {
    color: #1abd5b;
    /* cor do icone do whatsapp */
}

.insta a i {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #E1306C, #FD1D1D);
    /* para adicionar cor de fundo com degrade para fazer a cor do app do instagran*/
    background-clip: text;
    /* para recortar o fundo no formato do texto */
    color: rgba(0, 0, 0, 0);
    /* para deixar o icone transparente */
}

.in a i {
    color: #0e76a8;
    /* cor do icone do linkedin */
}
