*{
    margin: 0;
    padding: 0;
}
/* cabeçalho */
header{
    padding: 3vh;
    background-color: rgb(218, 179, 150);
    text-align: center;
    align-items: center;
}

header div img{
    width: 30vh;
}

.linksHeader nav{
    display: flex;
    justify-content: space-around;
}

.linksHeader ul{
    display: flex;
    list-style: none;

}

.linksHeader ul li{
      margin: 0 20px;
}

#direcionamento li a{  
    text-decoration: none;
    color: black;
}

#icones li a{
    text-decoration: none;
    font-size: 1.5em;
}

#icones li a:hover{
    font-size: 1.55em;
    transition: 0.4s;
}

/* primeira sessão */
#introNutri{
    background-image: url(imagens/bg\ header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vh;
    background-size: cover;
}

#introNutri div{
    margin: 1.2em 10em;
    max-width: 30vw;

}

#introNutri div h1{
    font-size: 2em;
}

#introNutri div p{
    margin-top: 10px;
    font-size: 1.3em;
}

/* segunda sessão */
#esporte{
    background-image: url(imagens/sessaoEsporte.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 15vh;
}

#esporte div{
    margin-left: 4rem;
    max-width: 36vw;
    text-align: justify;
}

#esporte div h2{
    font-size: 1.7rem;
}

#esporte div p{
    margin-top: 15px;
    font-size: 1.2em;
}

#esporte div ul li{
    margin-top: 8px;
    margin-left: 1.2rem;
}

#esporte a button{
    margin-left: 4rem;
    margin-top: 20px;
    padding: 1em;
    width: 10rem;
    border-radius: 3em;
    border-color: #ffbe92ff;
    background-color: #ebebebff;
    cursor: pointer;
}

#esporte a button:hover{
    background-color: #fffba5ff;
    border-color: white;
    transition: 0.7s;
}

/* tercerira sessão */
#saude{
    background-image: url(imagens/sessaoSaude.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 15vh;
    display: grid;
    justify-content: right;
}

#saude div{
    max-width: 36vw;
    text-align: justify;
}

#saude div h2{
    font-size: 1.5rem;
}

#saude div p{
    margin-top: 15px;
    font-size: 1.2em;
}

#saude div ul li{
    margin-top: 8px;
    margin-left: 1.2rem;
}

#saude a button{
    margin-top: 20px;
    padding: 1em;
    width: 10rem;
    border-radius: 3em;
    border-color: #ffbe92ff;
    background-color: #ebebebff;
    cursor: pointer;
}

#saude a button:hover{
    background-color: #fffba5ff;
    border-color: white;
    transition: 0.7s;
}

/* rodapé */
footer{
    padding: 3vh;
    background-color: rgb(218, 179, 150);
    
}

#infoFooter{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}

#divIcon ul{
    list-style: none;
    display: flex;
}

footer div a i{
    font-size: 2rem;
    margin: 0 12px;
}

#divIcon ul a i:hover{
    transition: 0.2s;
    font-size: 2.1em;
}

.divFooter h3{
    text-align: center;
}
.divFooter p{
    margin: 0 30px;
    text-align: justify;
    font-size: 14px;
}

#divInfo{
    max-width: 20vw;
    text-align: justify;
}
#infoFooter div img{
    width: 30vh;
    
}
footer p{
    margin-top: 1em;
    text-align: center;
}

#divContatos p{
   margin-top: 40px;
   
}
#divContatos p a{
    text-decoration: none;
    color: black;
}

.whats a i{
    color: #1abd5b;
}

.insta a i{
    color: #833ab4;
}

.in a i{
    color: #0e76a8;
}




/* paleta de cores usadas, algumas foram semelhantes e não estão aqui listadas */
/* CSS HEX 
--sandy-brown: #ff9945ff;
--peach: #ffbe92ff;
--mindaro: #fffba5ff;
--naples-yellow: #fce15aff;
--green-yellow: #b5fa70ff;
--night: #141414ff;
--antiflash-white: #ebebebff;*/

