*{
    margin: 0;
    padding: 0;
}

/*Header é padrão em todas as páginas*/
header{
    padding: 3vh;
    background-color: rgb(218, 179, 150);
    text-align: center;
    height: auto;
}

header div img{
    width: 30vh;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0.9vh;
}

header nav ul a{
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    margin: 0 25px;
    
}


/*iniciada a estilização do id PART-ONE que informa para quem está direcionado o tema*/
#part-one{
    background-image: url(imagens/saúde.jpg);
    color: white;
    text-align: center;
    padding: 5em;
    height: auto;
}

#part-one h2{
    font-size: 4em;
}

#part-one p{
    font-size: 2em;
    margin-top: 20px;
}


/*id PART-TWO onde falamos do papel crucial da nutrição*/
#part-two{
    background-color: white;
    color: black;
    padding: 4em 0em 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

#part-two h2{
    font-size: 2em;
    text-align: center;
    width: 40vw;
}

#part-two p{
    font-size: 1.5em;
    margin-top: 40px;
    text-align: justify;
    width: 40vw;
}

#part-two img{
    height: auto;
    width: 20em;
}


/*id PART-THREE onde falamos da hidratação*/
#part-three{
    background-color: orangered;
    height: 25rem;
    color: white;
    padding: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

#part-three h2{
    font-size: 2em;
    text-align: center;
    width: 40vw;
}

#part-three p{
    font-size: 1.5em;
    margin-top: 20px;
    text-align: justify;
    width: 40vw;
}

#part-three img{
    height: auto;
    width: 30vw;
}


/*id PART-FOUR onde falamos do Guia alimentar brasileiro*/
#part-four{
    background-color: white;
    color: black;
    padding: 5em;
    text-align: center;
    height: auto;
}

#part-four h2{
    font-size: 2em;
    margin-top: 20px;
    margin: 5vw;
}

#part-four p{
    font-size: 1.5em;
    margin-top: 40px;
    text-align: justify;
    margin: 5vw;
}

#part-four p a{
    font-size: 15px;
}


/*id PART-FIVE onde linkamos o tema alimentação com os demais serviços prestados por nossa Consultoria Nutricional*/
#part-five{
    background-color: orangered;
    height: auto;
    color: white;
    padding: 3em;
    text-align: center;
}

#part-five h2{
    font-size: 1.6em;
    margin-bottom: 40px;
}

#part-five p{
    font-size: 1.4em;
}

/*Footer é padrão em todas as páginas*/
footer{
    padding: 3vh;
    background-color: rgb(218, 179, 150);
}

#info-footer{
    display: flex;
    align-items: center;
    
}

.div-icon ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

footer div a i{
    font-size: 2rem;
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
    padding: 0vw 1vw;
}

#info-footer div img{
    width: 30vh;
}

footer p{
    text-align: center;
}

.div-info{
margin: 0vw 8vw;
}

.div-info h3{
text-align: center;
padding: 2vh;
}

.div-info p{
text-align: justify;
}



