*{
    margin: 0; /* para deixar a pagina sem margem */
    padding: 0; /* para deixar a pagina sem respito */
}
/* cabeçalho */
header{
    padding: 3vh; /* para dar respiro no header */
    background-color: rgb(218, 179, 150); /* cor de fundo */
    text-align: center; /* alinhamento do texto */
    align-items: center; /* alinhamento dos itens */
}

header div img{
    width: 30vh; /* largura da div do header */
}

.linksHeader nav{
    display: flex; /* para deixar um ao lado do outro */
    justify-content: space-around; /* para dar espaço nos itens de forma igual */
}

.linksHeader ul{
    display: flex; /* para deixar um ao lado do outro */
    list-style: none; /* para deixar sem estilo de lista */

}

.linksHeader ul li{
      margin: 0 20px; /* para dar margem */
}

.submenu {
    display: none; /* desaparecimento do conteúdo */
    position: absolute; /* deixar o título do topo */
    background-color: rgba(255, 255, 255, 0.97); /* cor de fundo */
}

.menu .submenu { /* organização do menu */
margin-top: 8px; 
margin-left: -15px;
}

.submenu a { 
    display: block; /* deixa os submenus um embaixo do outro */
    padding: 2vh;
}

.submenu a:hover { /* config. do menu */
    background-color: orange; 
    transition: 0.5s;
}

.menu:hover .submenu { /* apenas apareça caso o mouse passe por cima */
display: block;
}

#direcionamento li a{  
    text-decoration: none; /* para tirar o estilo do texto */
    color: black; /* cor da fonte */
}

#icones li a{
    text-decoration: none; /* para tirar o estilo do texto */
    font-size: 1.5em; /* tamanho da fonte */
}

#icones li a:hover{
    font-size: 1.55em; /* tamanho da fonte */
    transition: 0.4s; /* tempo para mudar ao passar o mouse */
}

/*iniciada a estilização do id PART-ONE que informa para quem está direcionado o tema*/
#part-one{
    background-image: url(imagens/saúde.jpg); /* banner */
    color: white; /* cor de texto */
    text-align: center; /* centralização do texto */
    padding: 5em; /* respiro da seção */
    height: auto; /* altura responsiva */
}

#part-one h2{
    font-size: 4em; /* tamanho da fonte */
}

#part-one p{
    font-size: 2em; /* tamanho da fonte */
    margin-top: 20px; /* margin no topo */
}


/*id PART-TWO onde falamos do papel crucial da nutrição*/
#part-two{
    color: black; /* cor de texto */
    padding: 5em 0em 5em; /* respiro apenas na vertical */
    display: flex; /* seção flexivel */
    justify-content: space-evenly; /* conteúdo lado a lado */
    align-items: center; /* alinhamento vertical */
    height: auto; /* altura responsiva */
    background-color:  #ebebebff; /* cor de fundo */
}

#part-two h2{
    font-size: 2em; /* tamanho da fonte */
    text-align: center; /* centralização do texto */
    width: 40vw; /* largura do texto */
}

#part-two p{
    font-size: 1.5em; /* tamanho da fonte */
    margin-top: 40px; /* margin no topo */
    text-align: justify; /* texto justificado */
    width: 40vw; /* largura do texto */
}

#part-two img{
    height: auto; /* altura responsiva */
    width: 35em; /* tamanho da imagem */
}

/*id PART-THREE onde falamos da hidratação*/
#part-three{
    background-color: #ff9945ff; /* cor de fundo */
    height: 25rem; /* altura da seção */
    color: white; /* cor de texto */
    padding: 4em; /* respiro da seção */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto; /* altura responsiva */ 
}

#part-three h2{
    font-size: 2em;
    text-align: center;
    width: 40vw;
}

#part-three p{
    font-size: 1.5em;
    margin-top: 20px;
    text-align: justify;
    width: 40vw;
}

#part-three img{
    height: auto; /* altura responsiva */
    width: 30vw;
}


/*id PART-FOUR onde falamos do Guia alimentar brasileiro*/
#part-four{
    background-color: #ebebebff;
    color: black;
    padding: 5em;
    text-align: center;
    height: auto; /* altura responsiva */
}

#part-four h2{
    font-size: 2em;
    margin-top: 20px;
    margin: 3vw;
}

#part-four p{
    font-size: 1.5em;
    margin-top: 40px;
    text-align: justify;
    margin: 2vw;
}

#fonte {
    margin-top: 4em;
}

#fonte p {
margin-top: -1em;
}

#fonte p a{
    font-size: 15px;
}


/*id PART-FIVE onde linkamos o tema alimentação com os demais serviços prestados por nossa Consultoria Nutricional*/
#part-five{
    background-color: #ff9945ff;
    height: auto; /* altura responsiva */
    color: white;
    padding: 3em;
    text-align: center;
}

#part-five h2{
    font-size: 1.6em;
    margin-bottom: 40px;
}

#part-five p{
    font-size: 1.4em;
}

#part-five a { 
color: rgb(183, 0, 255);
cursor: pointer;
text-decoration: none;
}

/*Footer é padrão em todas as páginas*/
footer{
    padding: 3vh;
    background-color: rgb(218, 179, 150);
}

#infoFooter{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}

#divIcon {
text-align: center;
}

#divIcon ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

footer div a i{
    font-size: 2rem;
    margin: 0 12px;
}

#divIcon ul a i:hover{
    transition: 0.2s;
    font-size: 2.1em;
}

.divFooter h3{
    text-align: center;
}
.divFooter p{
    margin: 0 30px;
    text-align: justify;
    font-size: 14px;
}

#divInfo{
    max-width: 20vw;
    text-align: justify;
}

#infoFooter div img{
    width: 30vh;
}

footer p{
    margin-top: 1em;
    text-align: center;
}

#divContatos p{
   margin-top: 40px;
   
}

#divContatos p a{
    text-decoration: none;
    color: black;
}

.whats a i{
    color: #1abd5b;
}

.insta a i{
    color: #833ab4;
}

.in a i{
    color: #0e76a8;
}

/* paleta de cores usadas, algumas foram semelhantes e não foram listadas */
/* CSS HEX 
--sandy-brown: #ff9945ff;
--peach: #ffbe92ff;
--mindaro: #fffba5ff;
--naples-yellow: #fce15aff;
--green-yellow: #b5fa70ff;
--night: #141414ff;
--antiflash-white: #ebebebff;*/