*{
    margin: 0;
    padding: 0;
}


/*Header é padrão em todas as páginas*/
header{
    padding: 3vh;
    background-color: rgb(218, 179, 150);
    text-align: center;
}

header div img{
    width: 30vh;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

header nav ul a{
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    margin: 0 25px;
}


/*iniciada a estilização do id PART-ONE que informa para quem está direcionado o tema*/
#part-one{
    background-image: url(imagens/saúde.jpg);
    height: 15rem;
    color: white;
    text-align: center;
    padding: 3em;
}

#part-one h2{
    font-size: 4em;
    margin-top: 20px;
}

#part-one p{
    font-size: 2em;
    margin-top: 30px;
}


/*id PART-TWO onde falamos do papel crucial da nutrição*/
#part-two{
    background-color: white;
    height: 25rem;
    color: black;
    padding: 3em;
    display: flex;
    justify-content: space-around;
}

#part-two h2{
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    width: 40vw;
}

#part-two p{
    font-size: 1.5em;
    margin-top: 40px;
    text-align: justify;
    width: 40vw;
}

#part-two img{
    height: auto;
    width: 40vw;
}


/*id PART-THREE onde falamos da hidratação*/
#part-three{
    background-color: orangered;
    height: 25rem;
    color: white;
    padding: 3em;
    display: flex;
    justify-content: space-around;
}

#part-three h2{
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    width: 40vw;
}

#part-three p{
    font-size: 1.5em;
    margin-top: 40px;
    text-align: justify;
    width: 40vw;
}

#part-three img{
    height: auto;
    width: 25vw;
}


/*id PART-FOUR onde falamos do Guia alimentar brasileiro*/
#part-four{
    background-color: white;
    height: 25rem;
    color: black;
    padding: 3em;
    margin-left: 5.8vw;
}

#part-four h2{
    font-size: 2em;
    margin-top: 20px;
    width: 80vw;
    text-align: center;
}

#part-four p{
    font-size: 1.5em;
    margin-top: 40px;
    text-align: justify;
    width: 80vw;
}

#part-four p a{
    text-align: center;
    font-size: 15px;
}


/*id PART-FIVE onde linkamos o tema alimentação com os demais serviços prestados por nossa Consultoria Nutricional*/
#part-five{
    background-color: orangered;
    height: auto;
    color: white;
    padding: 3em;
    text-align: center;
}

#part-five h2{
    font-size: 1.6em;
    margin-bottom: 40px;
}

#part-five p{
    font-size: 1.4em;
}


/*Footer é padrão em todas as páginas*/
footer{
    padding: 3vh;
    background-color: rgb(218, 179, 150);
    display:
}

#info-footer{
    display: flex;
    align-items: center;
}

.div-icon ul{
    display: flex;
    list-style: none;
}


footer div a i{
    color: #24d46a;
    font-size: 2rem;
    text-decoration: none;
    text-align: left;
    margin: 0 12px;
}
#info-footer div img{
    width: 30vh;
    
}
footer p{
    text-align: center;
}

.div-info{

}
