*{
    margin: 0; /* para deixar a pagina sem margem */
    padding: 0; /* para deixar a pagina sem respito */
}
/* cabeçalho */
header{
    padding: 3vh; /* para dar respiro no header */
    background-color: rgb(218, 179, 150); /* cor de fundo */
    text-align: center; /* alinhamento do texto */
    align-items: center; /* alinhamento dos itens */
}

header div img{
    width: 30vh; /* largura da div do header */
}

.linksHeader nav{
    display: flex; /* para deixar um ao lado do outro */
    justify-content: space-around; /* para dar espaço nos itens de forma igual */
}

.linksHeader ul{
    display: flex; /* para deixar um ao lado do outro */
    list-style: none; /* para deixar sem estilo de lista */

}

.linksHeader ul li{
      margin: 0 20px; /* para dar margem */
}

.submenu {
    display: none; /* desaparecimento do conteúdo */
    position: absolute; /* deixar o título do topo */
    background-color: rgba(255, 255, 255, 0.97); /* cor de fundo */
}

.menu .submenu { /* organização do menu */
<<<<<<< Updated upstream
margin-top: 8px; /* margem superior */
margin-left: -15px; /* margem da esquerda */
=======
<<<<<<< HEAD
margin-top: 8px; 
margin-left: -20px;
=======
margin-top: 8px; /* margem superior */
margin-left: -15px; /* margem da esquerda */
>>>>>>> 9a746f6e54a0266fc7d3e2429de252e44d98a317
>>>>>>> Stashed changes
}

.submenu a { 
    display: block; /* deixa os submenus um embaixo do outro */
    padding: 2vh; /* respiro da pagina */
}

.submenu a:hover { /* config. do menu */
    background-color: orange; /* cor do fundo */
    transition: 0.5s; /* tempo de transição */
}

.menu:hover .submenu { /* apenas apareça caso o mouse passe por cima */
display: block; /* display em bloco */
}

#direcionamento li a{  
    text-decoration: none; /* para tirar o estilo do texto */
    color: black; /* cor da fonte */
}

#icones li a{
    text-decoration: none; /* para tirar o estilo do texto */
    font-size: 1.5em; /* tamanho da fonte */
}

#icones li a:hover{
    font-size: 1.55em; /* tamanho da fonte */
    transition: 0.4s; /* tempo para mudar ao passar o mouse */
}

/*iniciada a estilização do id PART-ONE que informa para quem está direcionado o tema*/
#part-one{
    background-image: url(imagens/saúde.jpg); /* banner */
    color: white; /* cor de texto */
    text-align: center; /* centralização do texto */
    padding: 5em; /* respiro da seção */
    height: auto; /* altura responsiva */
}

#part-one h2{
    font-size: 4em; /* tamanho da fonte */
}

#part-one p{
    font-size: 2em; /* tamanho da fonte */
    margin-top: 20px; /* margin no topo */
}


/*id PART-TWO onde falamos do papel crucial da nutrição*/
#part-two{
    color: black; /* cor de texto */
    padding: 5em 0em 5em; /* respiro apenas na vertical */
    display: flex; /* seção flexivel */
    justify-content: space-evenly; /* conteúdo lado a lado */
    align-items: center; /* alinhamento vertical */
    height: auto; /* altura responsiva */
    
}

#part-two h2{
    font-size: 2em; /* tamanho da fonte */
    text-align: center; /* centralização do texto */
    width: 40vw; /* largura do texto */
}

#part-two p{
    font-size: 1.5em; /* tamanho da fonte */
    margin-top: 40px; /* margin no topo */
    text-align: justify; /* texto justificado */
    width: 40vw; /* largura do texto */
}

#part-two img{
    height: auto; /* altura responsiva */
    width: 35em; /* tamanho da imagem */
}

/*id PART-THREE onde falamos da hidratação*/
#part-three{
    background-color: #ff9945ff; /* cor de fundo */
    height: 25rem; /* altura da seção */
    color: white; /* cor de texto */
    padding: 4em; /* respiro da seção */
    display: flex; /* tornar o display flex */
    justify-content: space-evenly; /* justificar conteudo */
    align-items: center; /* alinhar os itens */
    height: auto; /* altura responsiva */ 
}

#part-three h2{
    font-size: 2em; /* tamanho da fonte */
    text-align: center; /* alinhamento de texto */
    width: 40vw; /* largura */
}

#part-three p{
    font-size: 1.5em; /* tamanho da fonte */
    margin-top: 20px; /* margem superior */
    text-align: justify; /* alinhamento de texto */
    width: 40vw; /* largura */
}

#part-three img{
    height: auto; /* altura automatica */
    width: 30vw; /* largura de acordo com o view port */
}


/*id PART-FOUR onde falamos do Guia alimentar brasileiro*/
#part-four{
    
    color: black; /* cor do texto */
    padding: 5em; /* respiro da pagina */
    text-align: center; /* alinhamento de texto */
    height: auto; /* altura responsiva */
}

#part-four h2{
    font-size: 2em; /* tamanho da fonte */
    margin-top: 20px; /* margem superior */
    margin: 3vw; /* margem dos quatro lados */
}

#part-four p{
    font-size: 1.5em; /* tamanho da fonte */
    margin-top: 40px; /* margem superior */
    text-align: justify; /* alinhamento de texto */
    margin: 2vw; /* margem de todos os lados */
}

#fonte {
    margin-top: 4em; /* margem superior */
}

#fonte p {
margin-top: -1em; /* margem superior */
}

#fonte p a{
    font-size: 15px; /* tamanho da fonte */
}


/*id PART-FIVE - linkamos o tema alimentação com os demais serviços prestados por nossa Consultoria Nutricional*/
#part-five{
    background-color: #ff9945ff; /* cor do fundo */
    height: auto; /* altura automatica */
    color: white; /* cor do texto */
    padding: 3em; /* respiro dp conteudo */
    text-align: center; /* alinhamento do texto */
}

#part-five h2{
    font-size: 1.6em; /* tamanho da fonte */
    margin-bottom: 40px; /* margem inferior */
}

#part-five p{
    font-size: 1.4em; /* tamanho da fonte */
}

#part-five a { 
color: rgb(183, 0, 255); /* cor do texto */
cursor: pointer; /* cursor ao passar o mouse */
text-decoration: none; /* decoração do texto */
}

/* rodapé */
footer{
    padding: 3vh; /* respiro do conteudo */
    background-color: rgb(218, 179, 150); /* cor de fundo */
    
}

#infoFooter{
    display: flex; /* display flexivel */
    justify-content: space-evenly; /* justificando o conteudo */
    padding: 3rem; /* respiro do conteudo */
}

#divIcon ul{
    list-style: none; /* estilo de lista */
    display: flex; /* display flexivel */
    justify-content: center; /* icones centralizados com a imagem */
}

footer div a i{
    font-size: 2rem; /* tamanho da fonte */
    margin: 0 12px; /* margem */
}

#divIcon ul a i:hover{
    transition: 0.2s; /* tempo de transição */
    font-size: 2.1em; /* tamanho da fonte */
}

.divFooter h3{
    text-align: center; /* alinhamento do texto */
}
.divFooter p{
    margin: 0 30px; /* margem do paragrafo */
    text-align: justify; /* alinhamento do texto */
    font-size: 14px; /* tamanho da fonte */
}

#divInfo{
    max-width: 20vw; /* largura maxima */
    text-align: justify; /* alinhamento do texto */
}
#infoFooter div img{
    width: 30vh; /* largura */
    
}
footer p{
    margin-top: 1em; /* margem superior */
    text-align: center; /* alinhamento do texto */
}

#divContatos p{
   margin-top: 40px; /* margem superior */
   
}
#divContatos p a{
    text-decoration: none; /* decoração do texto */
    color: black; /* cor da fonte */
}

.whats a i{
    color: #1abd5b; /* cor do icone do whatsapp */
}

.insta a i{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #E1306C, #FD1D1D); /* para adicionar cor de fundo com degrade para fazer a cor do app do instagran*/
    background-clip: text; /* para recortar o fundo no formato do texto */
    color: rgba(0, 0, 0, 0); /* para deixar o icone transparente */
}

.in a i{
    color: #0e76a8; /* cor do icone do linkedin */
}




/* configuração da responsividade */

@media screen and (max-width: 400px){
    
    

header{
    width: 400px;
    flex-wrap: wrap;
}

/*primeiro bloco > part-one*/

    #part-one{
        width: 400px;
        background-size: 200vh;
        padding: 10vw;
    }


    #part-one h2{
        font-size: 1.5em;
        width: 400px; 
    }

    #part-one p{
        font-size: 1em;
        width: 400px; 
    }

    /*segundo bloco > part-two*/

    #part-two{
        display: block;
        padding: 8vw;
    }

    #part-two{
        height: auto;
    }

    #part-two h2{
        font-size: 1.5em; 
        text-align: center; 
        width: 400px; 
    }
   
    #part-two p{
        font-size: 1em; 
        margin-top: 20px; 
        text-align: justify; 
        width: 400px; 
    }
    
    #part-two img{
        margin-top: 20px;
        height: auto; 
        width: 20em; 
        margin-left: 30px;
    }
    
 /*terceiro bloco > part-three*/

 #part-three{
    display: block;
    padding: 8vw;
    width: 400px; 
}

#part-three{
    height: auto;
}

#part-three h2{
    font-size: 1.5em; 
    text-align: center; 
    width: 400px; 
    margin-top: 20px;
}


#part-three p{
    font-size: 1em; 
    margin-top: 20px; 
    text-align: justify; 
    width: 400px; 
}

#part-three img{
    margin-top: 10px;
    height: auto; 
    width: 15em; 
    margin-left: 70px;
}

 /*quarto bloco > part-four*/

 #part-four{
    display: block;
    padding: 8vw;
    width: 400px; 
}


#part-four h2{
    font-size: 1.3em; 
        text-align: center; 
        width: 400px;  
}

#part-four p{
    font-size: 1em; 
        margin-top: 20px; 
        text-align: justify; 
        width: 400px; 
    }

 /*quinto bloco > part-five*/

#part-five{
    padding: 8vw;
    width: 400px; 
}

#part-five h2{
    
        font-size: 1.3em; 
            text-align: center; 
            width: 400px;  
}
    
    #part-five p{
        font-size: 0.8em; 
            margin-top: 20px; 
            text-align: justify; 
            width: 400px; 
        }

/*rodapé > footer*/

footer{
    width: 400px;
    display: block;
}

footer #divInfo .divFooter p{
    width: 200px;
}

}







/* paleta de cores usadas, algumas foram semelhantes e não foram listadas */
/* CSS HEX 
--sandy-brown: #ff9945ff;
--peach: #ffbe92ff;
--mindaro: #fffba5ff;
--naples-yellow: #fce15aff;
--green-yellow: #b5fa70ff;
--night: #141414ff;
--antiflash-white: #ebebebff;*/