* {
    margin: 0;
    /* para deixar a pagina sem margem */
    padding: 0;
    /* para deixar a pagina sem respito */
}

/* cabeçalho */
header {
    padding: 3vh;
    /* para dar respiro no header */
    background-color: rgb(218, 179, 150);
    /* cor de fundo */
}

#imagemHeader {
    text-align: center;
}

header div img {
    height: 30vh;
}

.linksHeader nav {
    display: flex;
    /* para deixar um ao lado do outro */
    justify-content: space-around;
    /* para dar espaço nos itens de forma igual */
}

.linksHeader ul {
    display: flex;
    /* para deixar um ao lado do outro */
    list-style: none;
    /* para deixar sem estilo de lista */
}

.linksHeader ul li {
    margin: 0 20px;
    /* para dar margem */
}

.menu {
    cursor: pointer;
}

.menu button{
    background-color: transparent;
    border-color: transparent;
}

.submenu {
    display: none;
    /* desaparecimento do conteúdo */
    position: absolute;
    /* deixar o título do topo */
    background-color: rgba(255, 255, 255, 0.97);
    /* cor de fundo */
}

.menu .submenu {
    /* organização do menu */
    margin-top: 8px;
    margin-left: -20px;
}

.submenu a {
    display: block;
    /* deixa os submenus um embaixo do outro */
    padding: 2vh;
    text-align: center;
}

.submenu a:hover {
    /* config. do menu */
    background-color: orange;
    transition: 0.5s;
}

.menu:hover .submenu {
    /* apenas apareça caso o mouse passe por cima */
    display: block;
}

#direcionamento li a {
    text-decoration: none;
    /* para tirar o estilo do texto */
    color: black;
    /* cor da fonte */
}

#icones li a {
    text-decoration: none;
    /* para tirar o estilo do texto */
    font-size: 1.5em;
    /* tamanho da fonte */
}

#icones li a:hover {
    font-size: 1.55em;
    /* tamanho da fonte */
    transition: 0.4s;
    /* tempo para mudar ao passar o mouse */
}

/*iniciada a estilização do id PART-ONE que informa para quem está direcionado o tema*/
#part-one {
    background-image: url(imagens/saúde.jpg);
    /* banner */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* cor de texto */
    text-align: center;
    /* centralização do texto */
    padding: 5vw;
    /* respiro da seção */
}

#part-one h2 {
    font-size: 4em;
    /* tamanho da fonte */
}

#part-one p {
    font-size: 2em;
    /* tamanho da fonte */
    margin-top: 20px;
    /* margin no topo */
}


/*id PART-TWO onde falamos do papel crucial da nutrição*/
#part-two {
    color: black;
    /* cor de texto */
    padding: 3vw;
    /* respiro apenas na vertical */
    display: flex;
    /* seção flexivel */
    align-items: center;
    /* alinhamento vertical */
}

#part-two div {
    margin: 20px;
}

#part-two h2 {
    font-size: 2em;
    /* tamanho da fonte */
    text-align: center;
    /* centralização do texto */
}

#part-two p {
    font-size: 1.5em;
    /* tamanho da fonte */
    text-align: justify;
    /* texto justificado */
}

#part-two img {
    height: auto;
    /* altura responsiva */
    width: 35vw;
    /* tamanho da imagem */
}

/*id PART-THREE onde falamos da hidratação*/
#part-three {
    background-color: #ff9945ff;
    /* cor de fundo */
    color: white;
    /* cor de texto */
    padding: 3vw;
    /* respiro da seção */
    display: flex;
    /* tornar o display flex */
    align-items: center;
    /* alinhar os itens */
}

#part-three div {
    margin: 0 10vh;
}

#part-three h2 {
    font-size: 2em;
    /* tamanho da fonte */
    text-align: center;
    /* alinhamento de texto */
}

#part-three p {
    font-size: 1.5em;
    /* tamanho da fonte */
    margin-top: 20px;
    /* margem superior */
    text-align: justify;
    /* alinhamento de texto */
}

#part-three img {
    height: auto;
    /* altura automatica */
    width: 30vw;
    /* largura de acordo com o view port */
}


/*id PART-FOUR onde falamos do Guia alimentar brasileiro*/
#part-four {
    color: black;
    /* cor do texto */
    padding: 5vw;
    /* respiro da pagina */
    text-align: center;
    /* alinhamento de texto */
}

#part-four h2 {
    font-size: 2em;
    /* tamanho da fonte */
    margin-top: 20px;
    /* margem superior */
    margin: 3vw;
    /* margem dos quatro lados */
}

#part-four p {
    font-size: 1.5em;
    /* tamanho da fonte */
    margin-top: 40px;
    /* margem superior */
    text-align: justify;
    /* alinhamento de texto */
    margin: 2vw;
    /* margem de todos os lados */
}

#fonte {
    margin-top: 4em;
    /* margem superior */
}

#fonte p {
    margin-top: -1em;
    /* margem superior */
}

#fonte p a {
    font-size: 15px;
    /* tamanho da fonte */
}


/*id PART-FIVE - linkamos o tema alimentação com os demais serviços prestados por nossa Consultoria Nutricional*/
#part-five {
    background-color: #ff9945ff;
    /* cor do fundo */
    color: white;
    /* cor do texto */
    padding: 2vw;
    /* respiro dp conteudo */
    text-align: center;
    /* alinhamento do texto */
}

#part-five h2 {
    font-size: 1.6em;
    /* tamanho da fonte */
    margin-bottom: 40px;
    /* margem inferior */
}

#part-five p {
    font-size: 1.4em;
    /* tamanho da fonte */
}

#part-five a {
    color: rgb(183, 0, 255);
    /* cor do texto */
    text-decoration: none;
    /* decoração do texto */
}

/* rodapé */
footer {

    padding: 3vh;
    /* respiro do conteudo */
    background-color: rgb(218, 179, 150);
    /* cor de fundo */

}

#infoFooter {
    flex-wrap: wrap;
    display: flex;
    /* display flexivel */
    padding: 2rem;
    /* respiro do conteudo */
    justify-content: center;
    align-items: center;
}

#infoFooter div {
    margin: 3vw;
    text-align: center;
}

#infoFooter div img {
    width: 30vh;
    /* largura */

}

#divIcon ul {
    list-style: none;
    /* estilo de lista */
    display: flex;
    /* display flexivel */
    justify-content: center;
    /* icones centralizados com a imagem */
}

footer div a i {
    /* aqui ainda estou chamando a tag do icone */
    font-size: 2rem;
    /* tamanho da fonte */
    margin: 0 12px;
    /* margem */
}

#divIcon ul a i:hover {
    transition: 0.2s;
    /* tempo de transição */
    font-size: 2.1em;
    /* tamanho da fonte */
}


.divFooter h3 {
    text-align: center;
    /* alinhamento do texto */
}

.divFooter p {
    margin: 0 20px;
    /* margem do paragrafo */
    text-align: justify;
    /* alinhamento do texto */
    font-size: 14px;
    /* tamanho da fonte */
}

#divInfo {
    width: 20rem;
    text-align: justify;
    /* alinhamento do texto */
}

#divInfo h3 {
    font-size: 1.4rem;
}

#divInfo p {
    font-size: 1.1rem;
}

footer p {
    margin-top: 1em;
    /* margem superior */
    text-align: center;
    /* alinhamento do texto */
}

#divContatos {
    display: block;
}

#divContatos h3 {
    align-items: start;
}

#divContatos p {
    margin-top: 40px;
    /* margem superior */
}

#divContatos p a {
    text-decoration: none;
    /* decoração do texto */
    color: black;
    /* cor da fonte */
}

.whats a i {
    color: #1abd5b;
    /* cor do icone do whatsapp */
}

.insta a i {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #E1306C, #FD1D1D);
    /* para adicionar cor de fundo com degrade para fazer a cor do app do instagran*/
    background-clip: text;
    /* para recortar o fundo no formato do texto */
    color: rgba(0, 0, 0, 0);
    /* para deixar o icone transparente */
}

.in a i {
    color: #0e76a8;
    /* cor do icone do linkedin */
}


/* configuração da responsividade */


@media screen and (max-width: 400px){
    #part-three div{
        text-align: center;
    }
}




@media screen and (max-width: 480px) {
    /* cabeçalho */

    .linksHeader nav {
        display: block;
    }

    .linksHeader nav ul {
        justify-content: center;
    }

    .linksHeader nav ul i {
        margin-top: 10px;
    }

    /*primeiro bloco > part-one*/

    #part-one {
        padding: 5vw;
    }


    #part-one h2 {
        font-size: 1.5em;
    }

    #part-one p {
        font-size: 1em;
    }

    /*segundo bloco > part-two*/

    #part-two {
        display: block;
        padding: 5vw;
    }

    #part-two {
       text-align: center;
    }

    #part-two h2 {
        font-size: 1.5em;
        text-align: center;
        
    }

    #part-two p {
        font-size: 1em;
        margin-top: 20px;
        text-align: justify;
    }

    #part-two img {
        width: 70vw;
    }

    /*terceiro bloco > part-three*/

    #part-three {
        display: block;
        padding: 8vw;
    }

    #part-three h2 {
        font-size: 1.5em;
        text-align: center;
        margin-top: 20px;
    }

    #part-three img {
        margin-top: 10px;
        width: 60vw;
    }

    #part-three p {
        font-size: 1em;
        margin-top: 10px auto;
        text-align: justify;
     
    }


    /*quarto bloco > part-four*/

    #part-four {
        display: block;
        padding: 8vw;
    }


    #part-four h2 {
        font-size: 1.3em;
        text-align: center;
    }

    #part-four p {
        font-size: 1em;
        margin-top: 20px;
        text-align: justify;
    }

    /*quinto bloco > part-five*/

    #part-five {
        padding: 8vw;  
    }

    #part-five h2 {
        font-size: 1.3em;
        text-align: center;    
    }

    #part-five p {
        font-size: 0.8em;
        margin-top: 20px;
        text-align: justify;
    }

    /*rodapé > footer*/

    #infoFooter {
        padding: 3vh;
        display: block;
    }

    #infoFooter div {
        margin: 0 auto;
        width: 70vw;
    }

    #infoFooter div img {
        width: 50vw;
    }

    #divInfo h3 {
        margin-top: 20px;
        font-size: 1.3rem;
    }

    #divInfo p {
        margin-top: 10px;
        font-size: 12px;
    }

    #divContatos h3 {
        margin-top: 20px;
        font-size: 1.3rem;
    }

    #divContatos p {
        margin: 0;
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
    }

}


@media screen and (max-width:767px) {


    #part-one h2{
        font-size: 2.5rem;
    }

    #part-one p{
        font-size: 1.5rem;
    }

    #part-two {
        padding: 5vw;
    }

    #part-two h2{
        font-size: 1.7rem;
    }

    #part-two p{
        font-size: 1.3rem;
    }

    #part-three {
        padding: 5vw;
    }

    #part-three h2{
        font-size: 1.7rem;
    }

    #part-three p{
        font-size: 1.3rem;
    }

    #part-four {
        padding: 5vw;
    }

    #part-four h2{
        font-size: 1.7rem;
    }

    #part-four p{
        font-size: 1.3rem;
    }

    /* rodapé */
    footer {
        padding: 0;
    }

    footer p {
        font-size: 12px;
    }

    #infoFooter div {
        margin: 1 1vw;
    }

    #divInfo p {
        font-size: 0.8em;
    }

    #divContatos p {
        font-size: 0.8em;
    }
}

/*  */

/* paleta de cores usadas, algumas foram semelhantes e não foram listadas */
/* CSS HEX 
--sandy-brown: #ff9945ff;
--peach: #ffbe92ff;
--mindaro: #fffba5ff;
--naples-yellow: #fce15aff;
--green-yellow: #b5fa70ff;
--night: #141414ff;
--antiflash-white: #ebebebff;*/