*{
    margin: 0;
    padding: 0;
}

header{
    padding: 3vh;
    background-color: rgb(218, 179, 150);
    text-align: center;
}

header div img{
    width: 30vh;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

header nav ul a{
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    margin: 0 25px;
}


footer{
    padding: 3vh;
    background-color: rgb(218, 179, 150);
}

footer p{
    text-align: center;
}
/* CSS HEX 
--sandy-brown: #ff9945ff;
--peach: #ffbe92ff;
--mindaro: #fffba5ff;
--naples-yellow: #fce15aff;
--green-yellow: #b5fa70ff;
--night: #141414ff;
--antiflash-white: #ebebebff;*/

